body {
    min-height: 100vh;
    background: #111;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
    height: 400px;
    width: 250px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: #000;
    font-family: verdana;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

#box {
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    width: 80%;
    /*background: #333;*/
    border-radius: 50px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.main #red {
    background: linear-gradient(90deg, #000, red);
}

.main #green {
    background: linear-gradient(90deg, #000, green);
}

.main #blue {
    background: linear-gradient(90deg, #000, blue);
}